@use "./base.scss";

// put your custom CSS here!

body h1, body h2, body h3, body h4, body h5, body a, .explorer {
    font-family: var(--headerFont)!important;
}
body, body p, body blockquote {
    font-family: var(--bodyFont)!important;
}
body a.external, body footer a, body a.internal, body .breadcrumb-container .breadcrumb-element {
    color: var(--lightningcss-light,#8a5cf5)var(--lightningcss-dark,#a68af9)!important;
}
body a.external:hover, body footer a:hover, body a.internal:hover, body .breadcrumb-container .breadcrumb-element > a:hover {
    text-decoration: none!important;
}
body table {
    width: 100%!important;
    font-family: var(--bodyFont)!important;
}
.table-container > table, table {
    margin: 0!important;
}
body th {
    text-align: center;
}
.page-listing .tag-link {
  display: none;
}
